<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Table Ketersediaan Kamar</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css" />
</head>
<body>
<div class="container">
  <h2>Table Ketersediaan Kamar</h2>
  <div class="row">
    <form method="GET" action="">
        <div class="col-md-2"><strong>Provinsi</strong></div>
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control" name="prov" onchange="this.form.submit()">
                    <option value="">Select Province</option>
                    {% for prov in provinces %}
                    <option value="{{prov.id}}" {% if prov.id == request.args.get('prov')|int %}selected="selected"{% endif %}>{{prov.nama_prov}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2"><strong>Kamar</strong></div>
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control" name="kamar" onchange="this.form.submit()">
                    <option value="">Select Tipe Kamar</option>
                    {% for kamar in kamars %}
                    <option value="{{kamar.id}}" {% if kamar.id == request.args.get('kamar')|int %}selected="selected"{% endif %}>{{kamar.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-4"><strong>Pilih Jumlah Baris</strong></div>
    <div class="col-md-8">
        <div class="form-group">
            <select class="form-control" name="state" id="maxRows">
            <option value="5000">Show ALL Rows</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="70">70</option>
            <option value="100">100</option>
            </select>
        </div>
    </div>
  </div>
  </div> <!-- 		End of Container -->
  <table id="table-id" class="stripe row-border order-column" cellspacing="0" style="width:100%">
  <thead>
  <tr>
    <th>Rumah Sakit</th>
    {% if not request.args.get('kamar')%}
    {% for kamar in kamars %}
    <th>{{kamar.title}}</th>
    {% endfor %}
    {% else %}
    <th>Alamat</th>
    <th>Lokasi</th>
    <th>Kamar {% for kamar in kamars %}{% if kamar.id == request.args.get('kamar') | int %}{{kamar.title}}{% endif %}{% endfor %}</th>
    {% endif %}
  </tr>
  </thead>
 {% if occs %}
 {% for oc in occs %}
 {% if not request.args.get('kamar')%}
 <td>
 <div class="width-200">
 <div>{{oc.rumahsakit.rumahsakit.nama_unit}}</div>
 <div>{{oc.rumahsakit.rumahsakit.alamat}}</div>
 <div><a href="http://maps.google.com/?q={{oc.rumahsakit.rumahsakit.lat}},{{oc.rumahsakit.rumahsakit.lon}}" target="_blank">Map</a></div>
 </div>
 </td>
 {% for kamar in kamars %}
 <td>
 <div class="width-100">
 <div class="kamarkosong">{{oc.okupansi[kamar.id].total_kosong}}</div>
 <div class="lupdate">{{oc.okupansi[kamar.id].last_update}}</div>
 </div>
 </td>
 {% endfor %}
 {% else %}
 <td>{{oc.rumahsakit.rumahsakit.nama_unit}}</td>
 <td>{{oc.rumahsakit.rumahsakit.alamat}}</td>
 <td><a href="http://maps.google.com/?q={{oc.rumahsakit.rumahsakit.lat}},{{oc.rumahsakit.rumahsakit.lon}}" target="_blank">Map</a></td>
 <td>
 <div class="width-100">
 <div class="kamarkosong" data-kamar="{{request.args.get('kamar')}}_{{oc.rumahsakit.rumahsakit.id}}"></div>
 <div class="lupdate"></div>
 </div>
 </td>
 {% endif %}
 </tr>
 {% endfor %}
 {% endif %}
  </table>

  <!--		Start Pagination -->
  <div class='pagination-container'>
    <nav>
      <ul class="pagination">

        <li data-page="prev">
          <span>
            < <span class="sr-only">(current)
          </span></span>
        </li>
        <!--	Here the JS Function Will Add the Rows -->
        <li data-page="next" id="prev">
          <span> > <span class="sr-only">(current)</span></span>
        </li>
      </ul>
    </nav>
  </div>


</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>

<style type="text/css">
body {
	margin:2em 3em;
}
th, td { white-space: normal; width: 200px; }
div.dataTables_wrapper {
    width: calc(100vw - 20);
    margin: 0 auto;
}
.lupdate {
    font-size: 12px;
    margin-top: 1.5em;
}
.width-200 {
    width: 250px;
    white-space: normal;
}
.width-200 div {
    margin-bottom: 0.5em;
}
.width-100 {
    width: 200px;
    white-space: normal;
    text-align: center;
}
</style>
<script type="text/javascript">
{% if request.args.get('kamar') %}
$(".kamarkosong").each(function(){
    var kamar = $(this).data('kamar');
    var res   = kamar.split('_');
    var $tds = $(this);
    $.ajax({
        url: '/getkamar/'+res[0]+'/'+res[1],
        success: function(rslt){
            if (rslt['result'].length > 0){
                console.log(rslt['result']);
                $tds.text(rslt['result'][0]['total_kosong']);
                $tds.parent().find('.lupdate').text(rslt['result'][0]['last_update']);
            } else {
                $tds.text(0);
            }
            if ( $.fn.dataTable.isDataTable( '#table-id' ) ) {
                $('#table-id').DataTable();
            }
            else {
                $('#table-id').DataTable( {
                    scrollY:        600,
                    scrollX:        true,
                    scrollCollapse: true,
                    paging:         false,
                    fixedColumns:   true
                } );
            }
        }
    })
});
{% else %}
$('document').ready(function(){
    $('#table-id').DataTable( {
        scrollY:        600,
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        fixedColumns:   true
    } );
});
{% endif %}
</script>
</html>